@if (isOpen()) {
  <button
    class="app-modal__overlay"
    type="button"
    tabindex="-1"
    (click)="close()"
    aria-label="Modal schliessen"
  ></button>
  <div
    class="app-modal app-modal--{{ size() }}"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="title() ? 'app-modal-title' : null"
  >
    @if (title()) {
      <div class="app-modal__header">
        <h2 class="app-modal__title" id="app-modal-title">{{ title() }}</h2>
        <button class="app-modal__close" type="button" (click)="close()" aria-label="Schliessen">
          X
        </button>
      </div>
    }
    <div class="app-modal__body">
      <ng-content />
    </div>
  </div>
}
