<ion-tabs class="mobile-shell">
  <ion-router-outlet></ion-router-outlet>

  @if (isTimerActive()) {
    <div class="timer-banner">
      <span class="timer-banner__dot"></span>
      <span class="timer-banner__label">{{ timerRuntime() }}</span>
    </div>
  }

  <ion-tab-bar slot="bottom" class="mobile-tab-bar">
    <ion-tab-button tab="heute" href="/tabs/heute" class="mobile-tab-button">
      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
      <ion-label>Heute</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="muellplan" href="/tabs/muellplan" class="mobile-tab-button">
      <ion-icon name="trash-outline" aria-hidden="true"></ion-icon>
      <ion-label>Muellplan</ion-label>
    </ion-tab-button>

    @if (showOperativeTabs()) {
      <ion-tab-button tab="stempeluhr" href="/tabs/stempeluhr" class="mobile-tab-button">
        <ion-icon name="timer-outline" aria-hidden="true"></ion-icon>
        @if (isTimerActive()) {
          <ion-badge class="timer-badge" color="danger"></ion-badge>
        }
        <ion-label>Zeiterfassung</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="foto-upload" href="/tabs/foto-upload" class="mobile-tab-button">
        <ion-icon name="camera-outline" aria-hidden="true"></ion-icon>
        <ion-label>Foto</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="checklisten" href="/tabs/checklisten" class="mobile-tab-button">
        <ion-icon name="list-outline" aria-hidden="true"></ion-icon>
        <ion-label>Checklisten</ion-label>
      </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>
