<div class="mobile-shell">
  <main class="mobile-shell-content">
    <router-outlet></router-outlet>
  </main>

  <nav class="mobile-tab-bar">
    <a class="mobile-tab-button" [routerLink]="['/tabs/heute']" routerLinkActive="tab-active">
      <ion-icon name="calendar-outline"></ion-icon>
      <span>Heute</span>
    </a>

    <a class="mobile-tab-button" [routerLink]="['/tabs/stempeluhr']" routerLinkActive="tab-active">
      <ion-icon name="timer-outline"></ion-icon>
      <span>Zeiterfassung</span>
    </a>

    <a class="mobile-tab-button" [routerLink]="['/tabs/foto-upload']" routerLinkActive="tab-active">
      <ion-icon name="camera-outline"></ion-icon>
      <span>Foto</span>
    </a>
  </nav>
</div>
