<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="heute" [routerLink]="['/tabs/heute']" routerLinkActive="tab-active">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Heute</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="stempeluhr"
      [routerLink]="['/tabs/stempeluhr']"
      routerLinkActive="tab-active"
    >
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Stempeluhr</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="foto-upload"
      [routerLink]="['/tabs/foto-upload']"
      routerLinkActive="tab-active"
    >
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Foto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
