<label class="app-field">
  @if (label()) {
    <span class="app-field__label">{{ label() }}</span>
  }
  <select
    class="app-field__control app-field__control--select"
    [attr.name]="name()"
    [disabled]="isDisabled()"
    [value]="value()"
    (change)="onChangeEvent($event)"
    (blur)="onBlur()"
  >
    @for (option of options(); track option.value) {
      <option [value]="option.value">{{ option.label }}</option>
    }
  </select>
  @if (error()) {
    <span class="app-field__help app-field__help--error">{{ error() }}</span>
  } @else if (hint()) {
    <span class="app-field__help">{{ hint() }}</span>
  }
</label>
