<div class="objekt-kontext" [class.objekt-kontext--locked]="disabled()">
  <div class="objekt-kontext__text">
    <div class="objekt-kontext__label">Objekt</div>
    @if (objectTitle()) {
      <div class="objekt-kontext__title">{{ objectTitle() }}</div>
      @if (objectSubtitle()) {
        <div class="objekt-kontext__sub">{{ objectSubtitle() }}</div>
      }
    } @else {
      <div class="objekt-kontext__empty">Kein Objekt gewählt</div>
    }
    @if (disabled()) {
      <div class="objekt-kontext__locked-hint">Timer aktiv – Wechsel gesperrt</div>
    }
  </div>

  @if (!disabled()) {
    <ion-button
      class="objekt-kontext__btn"
      fill="clear"
      size="small"
      (click)="changeObject()"
    >
      @if (objectTitle()) { Wechseln } @else { Auswählen }
    </ion-button>
  }
</div>
