<ion-content [fullscreen]="true">
  <div class="page-login">
    <div class="card">
      <div class="brand">
        <span class="brand-name">PBS</span>
        <span class="brand-sub">Mitarbeiter App</span>
      </div>

      <form [formGroup]="form" (ngSubmit)="login()">
        <ion-item class="form-item">
          <ion-label position="stacked">E-Mail</ion-label>
          <ion-input
            type="email"
            formControlName="email"
            autocomplete="username"
            placeholder="name@firma.de"
          ></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Passwort</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            autocomplete="current-password"
            placeholder="********"
          ></ion-input>
        </ion-item>

        @if (errorMessage()) {
          <ion-text color="danger" class="fehler-banner">{{ errorMessage() }}</ion-text>
        }

        <ion-button type="submit" expand="block" [disabled]="isLoading()">
          {{ isLoading() ? 'Bitte warten...' : 'Anmelden' }}
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
